@model Chefster.ViewModels.MemberViewModel

<div class="p-3 mt-4 rounded border border-primary border-2 opacity-100">
    <div class="py-1 fs-5">
        Member @(Model.Index + 1)
    </div>
    <div class="row my-3">
        <label name="Members[@(Model.Index)].Name" class="col-1 col-form-label">Name</label>
        <div class="col-11">
            <input name="Members[@(Model.Index)].Name" type="text" class="form-control" required>
        </div>
    </div>
    <div class="row my-3">
        <div class="col-md-4">
            <label class="form-label">Dietary Restrictions</label>
            @for (int i = 0; i < Model.Restrictions.Count; i++)
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="Members[@(Model.Index)].Restrictions[@i].Selected" value="true" />
                    <label class="form-check-label">@(Model.Restrictions[i].Text)</label>
                    <input type="hidden" name="Members[@(Model.Index)].Restrictions[@i].Selected" value="false" />
                    <input type="hidden" name="Members[@(Model.Index)].Restrictions[@i].Text" value="@(Model.Restrictions[i].Text)" />
                </div>
            }
        </div>
        <div class="col-md-4">
            <label class="form-label">Diet Goals</label>
            @for (int i = 0; i < Model.Goals.Count; i++)
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="Members[@(Model.Index)].Goals[@i].Selected" value="true" />
                    <label class="form-check-label">@(Model.Goals[i].Text)</label>
                    <input type="hidden" name="Members[@(Model.Index)].Goals[@i].Selected" value="false" />
                    <input type="hidden" name="Members[@(Model.Index)].Goals[@i].Text" value="@(Model.Goals[i].Text)" />
                </div>
            }
        </div>
        <div class="col-md-4">
            <label class="form-label">Cuisines</label>
            @for (int i = 0; i < Model.Cuisines.Count; i++)
            {
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="Members[@(Model.Index)].Cuisines[@i].Selected" value="true" />
                    <label class="form-check-label">@(Model.Cuisines[i].Text)</label>
                    <input type="hidden" name="Members[@(Model.Index)].Cuisines[@i].Selected" value="false" />
                    <input type="hidden" name="Members[@(Model.Index)].Cuisines[@i].Text" value="@(Model.Cuisines[i].Text)" />
                </div>
            }
        </div>
    </div>
</div>